@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
body,
html {
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 0.9em;
  line-height: 1.6em;
}

.container {
  text-align: center;
  padding: 4rem 0.7rem;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #2e2e2e;
}

.logo {
  color: #fff;
  width: 10em;
  height: 3em;
  padding: 0;
  margin: 0.6em 1em 0 1em;
}

nav .ham-menu {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  right: 1.2em;
  top: 0.8em;
  z-index: 9;
}

#nav {
  height: 100%;
  background: rgba(36, 34, 41, 0.5);
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding-top: 4em;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 0;
  align-content: center;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #830d0d;
}

.hide-mobile {
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 1px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-5px, -5px);
}

.active {
  background-color: #830d0d;
}

section h1 {
  font-size: 2.5em;
  font-weight: bold;
}

section h3 {
  font-size: 2em;
  text-transform: uppercase;
}

section h3::after {
  content: "";
  position: absolute;
  margin: 1.5em 0.5em;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 1px;
  width: 250px;
  background: #fff;
  z-index: 0;
}

.top-section img {
  height: 10em;
  width: 10em;
  margin-top: 1em;
  border-radius: 50%;
}

.top-section {
  height: calc(100vh + 5em);
  background-image: url(../images/abstract-art-artistic-459642.jpg);
  background-size: cover;
  color: #fff;
}

.social-links {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.svg {
  fill: #fff;
  height: 3em;
  width: 3em;
  margin: 1em;
  cursor: pointer;
}

.svg path {
  fill: #fff;
}

.svg:hover path {
  fill: #c41919;
}

.skills {
  height: 100%;
  background: #565a63;
  color: rgb(187, 186, 186);
}

.skills p {
  margin-left: 0.8em;
  text-align: left;
}

.skills-icons {
  display: flex;
  justify-content: center;
}

.skills-svg {
  height: 4em;
  width: 4em;
  margin: 1.5em 1em;
}

.resume {
  background-color: transparent;
  color: #fff;
  width: 8em;
  height: 3em;
  border-radius: 10px;
  margin-top: 2em;
}

.resume:hover {
  background: #7e0b0b;
}

.projects h3::after {
  content: "";
  position: absolute;
  margin: 1.5em 0.5em;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 1px;
  width: 250px;
  background: #1a1a1a;
}

.projects {
  height: auto;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.single-project {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.project-img img {
  max-width: 100%;
  height: auto;
  border: 1px solid #1a1a1a;
}

.project-desc h4 {
  font-size: 1.3em;
  color: #830d0d;
}

.project-desc p {
  text-align: left;
  margin-left: 0.8em;
}

.project-desc ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5em .7em;
  margin: 0 auto;
  font-size: 0.8rem;
  max-width: 430px;
}

.project-desc li {
  width: auto;
  text-decoration: none;
  display: block;
  color: white;
  background: #474a52;
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
  margin: 0.3rem;
}

.prj-btn {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  width: 8em;
  height: 3em;
  border-radius: 10px;
  margin-top: 1.5em;
  font-weight: bold;
}

.prj-btn:hover {
  background: #830d0d;
  color: #fff;
}

.contacts {
  display: flex;
  justify-content: center;
  height: 100%;
  background: #373a40;
  color: #fff;
}

footer {
  background: #2e2e2e;
  color: #fff;
}

.container-footer {
  text-align: center;
  padding: 1.5rem 0.7rem;
}

.contact-container {
  text-align: center;
  padding: 4rem 0.7rem;
}

/* Contact form */
#jcf * {
  font-size: 18px;
  box-sizing: border-box;
}

#honeypot {
  display: none;
}

#jcf {
  max-width: 500px;
}
#jcf .email-invalid {
  background-color: rgba(255, 184, 185, 0.8) !important;
  border: solid 1px #d8000c !important;
}
#jcf .error,
#jcf .error::placeholder {
  color: #d8000c !important;
}
#jcf .success {
  background-color: rgba(193, 255, 198, 0.8) !important;
  border: solid 1px #044406 !important;
}
#jcf .success,
#jcf .success::placeholder {
  color: #044406;
}
#jcf .thankyou_message {
  display: none;
  padding: 10px;
  margin-bottom: 5px !important;
  width: 99%;
  border-radius: 3px;
}
#jcf .contact_message {
  height: 200px;
}
#jcf #send_message {
  text-transform: uppercase;
  cursor: pointer;
}
#jcf button object {
  margin: -18px -5px !important;
  width: 50px !important;
}

#jcf button:hover {
  background: #345008;
}

#jcf select,
#jcf input,
#jcf textarea,
#jcf button {
  outline: none;
  background: none;
  border: solid 1px #505050;
  transition: box-shadow 0.2s, width 0.2s;
  width: 99%;
  max-width: 99%;
  min-width: 99%;
  appearance: none;
  padding: 10px !important;
  margin: 0 0 5px !important;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #505050;
}
#jcf select:focus,
#jcf input:focus,
#jcf textarea:focus {
  border: solid 1px #2e2e2e;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  width: 100%;
}

@media only screen and (min-width: 650px) {
  .top-section img {
    height: 15em;
    width: 15em;
    margin-top: 3em;
  }

  section h1 {
    font-size: 3.5em;
  }

  .subhead {
    font-size: 1.2em;
  }

  section p {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  .container {
    padding: 4em .8em;
  }

  .svg {
    margin: 1.5rem 2rem;
  }

  .projects h3::after {
    margin: 1.5em 0.5em;
    left: 47%;
  }

  .project-img img {
    width: 32em;
    max-width: 100%;
  }

  section h3::after {
    left: 47%;
  }

  .slills-icons {
    margin-top: 5em;
  }

  .skills-svg {
    height: 6em;
    width: 6em;
  }
}

@media only screen and (min-width: 875px) {
  .projects h4 {
    font-size: 1.5em;
  }

  section h3::after {
    left: 48%
  }

  .projects h3::after {
    left: 48%;
  }
  .show-desktop {
    display: block;
  }

  nav .hide-desktop {
    display: none;
  }

  #nav {
    position: inherit;
    width: auto;
    height: auto;
    background: none;
    display: flex;
    padding-top: 0;
    float: left;
  }

  #nav a {
    background-color: inherit;
    text-align: right;
    padding: 1.3em 2em;
  }

  #nav a:hover {
    color: #830d0d;
    border-bottom: 2px solid #830d0d;
  }

  .active {
    color: #830d0d;
    border-bottom: 2px solid #830d0d;
  }

  .svg {
    height: 3.5em;
    width: 3.5em;
  }

  .skills-svg {
    height: 7em;
    width: 7em;
  }

  .single-project {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: center;
    padding-bottom: 5em;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }    

  .single-project h4 {
    margin: 0 1.2em;
    font-size: 1.8em;
  }

  .project-desc {
    max-width: 50%;
    height: 100%;
    align-items: center;
  }
  
  .project-desc p {
    font-size: 1em;
    margin-left: 3em;
  }
}

@media only screen and (min-width: 1024px) {
  .resume {
    width: 20%;
  }
  .container {
    width: 90%;
  }

  .top-container h1 {
    font-size: 3.2em;
  }

  .subhead {
    font-size: 1.1em;
    margin-bottom: 10%;
  }

  .top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .top-img {
    display: flex;
  }

  .top-img img {
    width: 20em;
    height: 20em;
  }
 
  .top-description {
    width: 70%;
    margin: 1.5em 0 1.5em 1em;
    
  }
  
  .skills-svg {
    height: 10em;
    width: 10em;
  }
}
@media only screen and (min-width: 1300px) {
  .container {
    width: 80%;
  }

  .skills-container {
    width: 80%;
    margin: 0 auto;
  }
  

  .top-img img {
    width: 25em;
    height: 25em;
  }

  .top-description h1 {
    font-size: 4.5em;
  }

  .subhead {
    font-size: 1.5em;
  }

  .svg {
    height: 4em;
    width: 4em;
  }

  section h3::after {
    left: 49%
  }

  .projects h3::after {
    left: 49%;
  }

  .project-desc h4 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1600px) {
  .top-img img {
    width: 30em;
    height: 30em;
  }

  .top-description h1 {
    font-size: 5em;
  }
  .container {
    width: 70%;
  }
}